@import "../../assets/styles/index.scss";

.input {
    background-color: #f2f2f2;
    width: rem(450);
    height: rem(300);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: rem(25);
    margin-top: rem(50);
    

    form {
        display: flex;
        flex-direction: column;
        margin-bottom: rem(10);

        input {
            width: rem(250);
            height: rem(30);
            background-color: white;
            border: rem(1) solid $light-blue;
            border-radius: rem(5);
            margin-bottom: rem(10);
            font-size: rem(20);
            padding: rem(5);
        }

        label {
            font-size: rem(14);
            padding-bottom: rem(5);
            color: #b2b2b2;
        }

        .btn {
            background-color: $light-blue;
            color: white;
            font-size: rem(15);
            letter-spacing: rem(1.5);
            cursor: pointer;
            width: rem(100);
            height: rem(35);
            align-self: center;

            &:hover {
                background-color: $hover-blue;
            }

        }
    }
}
