
@import "../../assets/styles/index.scss";

.header {
    width: 100%;
    height: rem(90);
    background-color: $light-blue;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
        background-color: #ffffff;
            color: $light-black;
            font-size: rem(15);
            letter-spacing: rem(1.5);
            cursor: pointer;
            width: rem(100);
            height: rem(35);
            align-self: center;
            border: none;
            border-radius: rem(10);
    }
}
